# arch config
CONFIG_64BIT=y
CONFIG_RISCV=y
CONFIG_MMU=y
CONFIG_SMP=y
CONFIG_SOC_ROCKET_CHIP_VCU128=y

# serial
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_SERIAL_EARLYCON_RISCV_SBI=y
CONFIG_HVC_RISCV_SBI=y

# others
CONFIG_PRINTK_TIME=y
CONFIG_EMBEDDED=y

# reduce size
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_BLOCK=n
CONFIG_PROC_FS=n
CONFIG_SYSFS=n
CONFIG_COREDUMP=n
CONFIG_DIRECTIO=n
CONFIG_EFI=n
CONFIG_SWAP=n
CONFIG_USB_SUPPORT=n
CONFIG_HID=n
CONFIG_VGA_CONSOLE=n
CONFIG_HWMON=n
CONFIG_HW_RANDOM=n
CONFIG_INPUT_MOUSE=n
CONFIG_EFI_PARTITION=n
